<!doctype html>
<html lang="en" ng-app="app">
<head>
    <base href="{{ rootPath }}/">
    <meta charset="UTF-8">
    <title>TITLE</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ rootPath }}/public/stylesheet/app.css"/>
</head>
<body>

<div ui-view></div>

<script type="text/javascript" src="{{ rootPath }}/public/lib/angular/angular.min.js"></script>
<script>
    var rootpath = "{{ rootPath }}";
</script>
<script type="text/javascript" src="{{ rootPath }}/public/javascript/built/built.js"></script>
</body>
</html>